
/* ================== Global Title Style ===================== */
.Title{
  color: #0094d8;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 28px;
  font-weight: 600;
}



/* ================== Home Top Fixed Banner Style ===================== */
.topFixedBaner{
  background-image: url("../images/homeTopBanner/homeTopBanner.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topBannnerOverlay{
  position: absolute;
  min-height: 600px;
  width: 100%;
  background: rgba(0,0,0,0.7);
}

.topContent{
  margin-top: 10rem;
}

.topTitle{
  font-size: 48px;
  font-family: sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.topSubTitle{
  font-size:27px;
  font-family: serif;
  font-weight: 500;
  color: #ffffff;
}





/* ================== Navigation Style ===================== */
.navTitle{
  font-family: 'Montserreat',sans-serif;
  color: #ffffff !important;
  font-weight: 700;
  font-size: 24px;
}

.navTitleScroll{
  font-family: 'Montserreat',sans-serif;
  color: #0073E6 !important;
  font-weight: 700;
  font-size: 24px;
}

.navBackground{
  -webkit-transition:background-color 400ms linear ;
  -moz-transition:background-color 400ms linear ;
  -o-transition:background-color 400ms linear ;
  transition:background-color 400ms linear ;
  background-color: rgba(00,00,00,0.0) !important;
}
.navBackgroundScroll{
  -webkit-transition:background-color 400ms linear ;
  -moz-transition:background-color 400ms linear ;
  -o-transition:background-color 400ms linear ;
  transition:background-color 400ms linear ;
  background-color: #ffffff !important;
  box-shadow: 0 0 6px 0 rgba(0,115,230,0.3);
}

.navItem{
  font-size: 16px;
  text-decoration: none !important;
  font-family: 'Montserreat',sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.navItemScroll{
  font-size: 16px;
  text-decoration: none !important;
  font-family: 'Montserreat',sans-serif;
  font-weight: 400;
  color: #000000 !important;
}





/* ================== Footer Section ===================== */
.footerSection{
  margin-top: 5rem;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}
.footerDiscription{
  color: #333;
}
.sociaLink{
   color: #075204;
   text-decoration: none !important;
   font-family:monospace;
   font-size: 14px;
   font-weight: 600;
}
.footerLink{
  color: #313131;
  text-decoration: none !important;
  font-family:Geneva;
  font-size: 14px;
  font-weight: 400;
}
.copyrightSection{
  padding: 20px;
  background-color: rgb(81, 81, 209);
}
.copyrightText{
  color: #ffffff;
  text-decoration: none !important;
  font-family: serif;
  font-weight: 500;
  font-size: 15px;
}
.copyrightText:hover{
  color: #070404;
}






/* ================== Service Card Style ===================== */
.serviceCard{
  margin: 5px;
  height: 22rem;
  padding: 60px 30px 60px 30px;
  box-shadow: 0 0 4px 0 rgba(0,155,230,0.2);
}

.serviceCard:hover{
  box-shadow: 0 0 8px 0 rgba(0,155,230,0.2);
}
.serviceName{
  margin-top: 1rem;
  font-size: 22px;
  font-weight: 600;
}
.serviceText{
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}






/* ================== Analysis section ===================== */
.tecnologyDescription{
  color: #333;
  font-weight: 400;
  font-size: 14px;
}






/* ================== Summary section ===================== */
.summary{
  background-image: url("../images/summary/banner.jpg");
  min-height: 350px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.summarySection{
  margin-top: 5rem !important;
}
.summaryBannnerOverlay{
  position: absolute;
  min-height: 350px;
  width: 100%;
  background: rgba(0,0,0,0.7);
}

.countNumber{
  color: #ffffff;
  font-family: serif;
  font-size: 48px;
  font-weight: 600;
}

.countTitle{
  color: #ffffff;
  font-family: serif;
  font-size: 22px;
  font-weight: 600;
}

.countSecion{
  margin-top: 15%;

}
.summaryCard{
  margin-top: 15%;
  padding: 10px;
  border-radius: 2px;
}
.summaryCardTitle{
  font-size: 23px;
  font-weight: 600;
  color: rgb(21, 28, 29);
  font-family:fantasy;
}
.summaryCardSubTitle{
  font-size: 14px;
  font-weight: 400;
  color: rgb(75, 73, 73);
  font-family:Georgia, 'Times New Roman', Times, serif;
}





/* ================== Course section ===================== */
.courseImg{
  width: 100%;
  }
  .courseTitle{
      font-family: 'Montserreat',sans-serif;
      font-size: 18px;
      font-weight: 600;
  }
  
  .courseDes{
      font-family: 'Raleway',sans-serif;
      font-size: 14px;
      font-weight: 400;
  }
  
  .courseDetails{
      color: #0073E6;
      text-decoration: none;
      font-family: 'Raleway',sans-serif;
      font-size: 18px;
      font-weight: 600;
  }
  
  .courseDetails:hover{
      text-decoration: none;
  }






/* ================== Course section ===================== */
.videoCard{
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
    padding: 6rem 3rem 6rem 3rem;
    background-color: #ffffff;
    margin: 50px auto;
}
.fa-play-circle{
    color: #0073E6;
    font-size: 48px;
    cursor: pointer;
}
.videoTitle{
    color: #0073E6;
    font-family: 'Montserreat',sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.videoDes{
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 400;
}








/* ================== Cient Review ===================== */
.circleImg{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid #0073E6;
  border-radius: 50%;
}







/* ================== OtherPage Top Banner ===================== */
.pageFixedBaner{
  background-image: url("../images/homeTopBanner/homeTopBanner.jpg");
  min-height: 280px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageBannnerOverlay{
  position: absolute;
  min-height: 280px;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.pageFixedBannerContent{
  margin-top: 8rem;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  font-family:Verdana;
}



.courseDetailsFixedBanner{
  background-image: url("../images/homeTopBanner/homeTopBanner.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
}

.courseDetailsFixedBannerOverlay{
  position: absolute;
  min-height: 300px;
  width: 100%;
  margin: 0;
  background: rgba(0,0,0,0.7);
}
.courseTopContent{
  margin-top: 5.5rem;
  color: #ffffff;
  font-family:Verdana;
}
.CourseFullTitle{
  color: white;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 600;
}
.CourseSubTitle{
   color: white;
   font-family: Raleway;
   font-size: 16px;
   font-weight: 400;
}




/* ================== Contact Section ===================== */
.form-control:focus{
  border-radius: 2px !important;
  border-color: #0073E6 !important;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2) !important;
}





/* ================== All Course ===================== */
.courseImg{
  width: 100%;
  }
  .courseTitle{
      font-family: 'Montserreat',sans-serif;
      font-size: 18px;
      font-weight: 600;
  }
  
  .courseDes{
      font-family: 'Raleway',sans-serif;
      font-size: 14px;
      font-weight: 400;
  }
  
  .courseDetails{
      color: #0073E6;
      text-decoration: none;
      font-family: 'Raleway',sans-serif;
      font-size: 18px;
      font-weight: 600;
  }
  
  .courseDetails:hover{
      text-decoration: none;
  }
  
  